@charset "UTF-8";
.header{
   font-size: 50px;
   color: white;
   background-color: #947EEE;
   padding: 50px;
   font-family: 'Inconsolata', sans-serif;
   text-align: center;

}

.image1 img{
width: 500px;
height: auto;
}

.image2 img{
width: 500px;
height: auto;
}

.aboutme{
width: 460px;
height: auto;
background-color: #947EEE;
color: white;
font-size: 40px;
font-family: 'Inconsolata', sans-serif;
text-align: center;
padding: 20px;
}

.image3 img{
width: 500px;
height: auto;
}

.contact{
width: 460px;
height: auto;
background-color: #947EEE;
color: white;
font-size: 40px;
font-family: 'Inconsolata', sans-serif;
text-align: center;
padding: 20px;
}

.image4 img{
width: 500px;
height: auto;
}

.image5 img{
width: 500px;
height: auto;
}

.image6 img{
width: 500px;
height: auto;
}

.footer{
color: black;
font-size: 20px;
font-family: 'Inconsolata', sans-serif;
text-align: center;
padding: 20px;
}
